.article {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  border: 1px solid #eaeaea;
  padding: 20px;
  color: #4a4a4a;
  font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica, arial,
    sans-serif;
  font-weight: 300;
}
