.jokes__pagination {
  display: flex;
}

.jokes__pagination-button {
  background-color: #fede58;
  border: 2px solid #000000;
  margin: 8px;
  font-size: 24px;
  padding: 6px 12px;
  cursor: pointer;
  min-width: 160px;
  transition: border-color 0.2s ease-in-out;
}

.jokes__pagination-button:hover {
  border-color: #fede58;
}

.jokes__pagination-button[disabled] {
  border-color: #fede58;
  opacity: 0.5;
}
